<% if @produto.errors.any? %>
  <div class="alert alert-danger alert-dismiss" role="alert">
    <h3> Ops! Algo deu errado, verifique os passos abaixo: </h3>
    <% @produto.errors.full_messages.each do |error| %>
      <h5><%= error %></h5>
    <% end %>
  </div>
<% end %>

<%= form_for @produto do |form| %>
  <div class="row">
    <div class="col-sm-8">
      <div class="form-group">
        <%= form.label :name %>
        <%= form.text_field :name, class:"form_control" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <div class="form-group">
        <%= form.label :description %>
        <%= form.text_area :description, class:"form-control", rows: 4 %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <%= form.label :department %>
        <%= form.collection_select :departamento_id, @departamento, :id, :nome, {}, class:"form-control" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <div class="form-group">
        <%= form.label :price %>
        <%= form.number_field :price, class:"form-control", step:"0.1" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <div class="form-group">
        <%= form.label :quantity %>
        <%= form.number_field :quantity, class:"form-control" %>
      </div>
    </div>
  </div>

  <%= form.submit action_text, class:"btn btn-primary" %>
<% end %>